<!DOCTYPE html>
<html lang="en">
<head>
    <title>Habitats</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Habitats</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Data</th>
            <th>Pic</th>
            <th>Actions</th>
        </tr>
        <% for (var i = 0; i < Habitats.length; i++) { %>
            <tr>
                <td><%= Habitats[i].ID %></td>
                <td><%= Habitats[i].Name %></td>
                <td><%= Habitats[i].Data %></td>
                <td><img src="<%= Habitats[i].Pic %>" alt="Habitat Pic"></td>
                <td class="actions">
                    <a href="/Habitat/<%= Habitats[i].ID %>">View</a>
                    <a href="/updateHabitat/<%= Habitats[i].ID %>">Update</a>
                    <a href="/deleteHabitat/<%= Habitats[i].ID %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/createHabitat"class="create-link">Create New Habitat</a>
    <br>
    <a href="/" class="create-link">Add Habitat Of animal</a>
    <br>
    <a href="/Animals" class="create-link">Add Animal</a>
</body>
</html>
